h1 {
    color: rgb(255, 255, 255);
}

body {
    background-image: url(mountains.jpg);
    background-repeat: no repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    border: solid;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    color: rgb(255, 255, 255);

}

label {
    display: block;
}

button {
    display: block;
}

input {
    display: flex;
    flex-grow: -1;
}

section {
    flex: 2 1 50%;
    flex-direction: column;

}

img {
    display: inline;
    max-width: 90%;
    height: auto;
}

main {
    display: flex;
}

