h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    background-color:black;

}

body {
    background-image: url(mountains.jpg);
    background-repeat: no repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    border: solid;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    color: rgb(255, 255, 255);

}

#mainContainer {
    min-height: 290px;
}
label {
    display: block;
}

button {
    display: block;
}

input {
    display: flex;
    flex-grow: -1;
}

section {
    flex: 2 1 50%;
    flex-direction: column;
}
form {
    flex-direction: column;
    flex: 2 1 20%;
}
img {
    display: inline;
    max-width: 90%;
    height: auto;
}

main {
    display: flex;
}

ul {
    text-align: right;
    list-style: none;
}

li {
    display: inline;

}
footer {
    position: fixed;
    bottom: 0;
    right: 0;

}

.emaillogo {
    width: 2%;
}
.github {
    width: 2%;
}
.spotify {
    width: 7%;
}